/* sets colors only, doesnt change shape/size, examples:
class="color-primary"
class="color-primary-hover"
class="color-primary shadow"
class="color-primary-hover shadow"*/

.color-primary, .color-primary-hover {
    background-color: #0d6efd;
    color: white;
    border-color: rgb(0, 0, 0);
}
.color-primary.shadow, .color-primary-hover.shadow {
    box-shadow: rgb(0, 0, 0) 5px 5px;
}
.color-primary-hover:hover {
    background-color: #084298;
}

.color-color1, .color-color1-hover {
    background-color: #5CA9E9;
    color: black;
    border-color: black;
}
.color-color1.shadow, .color-color1-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-color1-hover:hover {
    background-color: #bfc4c9;
}

.color-color2, .color-color2-hover {
    background-color: #B3DBF2;
    color: black;
    border-color: black;
}
.color-color2.shadow, .color-color2-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-color2-hover:hover {
    background-color: #bfc4c9;
}

.color-color3, .color-color3-hover {
    background-color: #FFFFC0;
    color: black;
    border-color: black;
}
.color-color3.shadow, .color-color3-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-color3-hover:hover {
    background-color: #4bb3fd;
}

.color-success, .color-success-hover {
    background-color: #198754;
    color: black;
    border-color: white;
}
.color-success.shadow, .color-success-hover.shadow {
    box-shadow: white 5px 5px;
}
.color-success-hover:hover {
    background-color: #0f5132;
}

.color-danger, .color-danger-hover {
    background-color: #dc3545;
    color: white;
    border-color: white;
}
.color-danger.shadow, .color-danger-hover.shadow {
    box-shadow: white 5px 5px;
}
.color-danger-hover:hover {
    background-color: #7a1a23;
}

.color-warning, .color-warning-hover {
    background-color: #ffc107;
    color: black;
    border-color: black;
}
.color-warning.shadow, .color-warning-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-warning-hover:hover {
    background-color: #e0a800;
}

.color-info, .color-info-hover {
    background-color: #0dcaf0;
    color: black;
    border-color: black;
}
.color-info.shadow, .color-info-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-info-hover:hover {
    background-color: #09788c;
}

.color-light, .color-light-hover {
    background-color: #f8f9fa;
    color: black;
    border-color: black;
}
.color-light.shadow, .color-light-hover.shadow {
    box-shadow: black 5px 5px;
}
.color-light-hover:hover {
    background-color: rgb(190, 160, 254);
}

.color-dark, .color-dark-hover {
    background-color: #212529;
    color: white;
    border-color: white;
}
.color-dark.shadow, .color-dark-hover.shadow {
    box-shadow: white 5px 5px;
}
.color-dark-hover:hover {
    background-color: #6f42c1;
}